@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Inter", sans-serif;
  background: #f5f5f5;
}
header {
  width: 100%;
  height: 70px;
  background: #ffffff;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
}
header .logo {
  text-decoration: none;
}
header .logo img {
  width: 45px;
  margin-right: 4px;
}
header .logo span {
  color: #403e57;
  font-size: 24px;
  line-height: 36px;
  font-weight: 800;
}
header button.rounded-circle {
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  background: rgba(8, 88, 247, 0.06);
  box-shadow: none;
  padding: 0;
}
header button.rounded-circle .nav-icon {
  color: #5e5d72;
  font-size: 22px !important;
}
header button.rounded-circle:hover .nav-icon,
.fiSearch {
  color: #0858f7;
}

/* SearchBox Design  */
.goSearchBox {
  width: 350px;
  height: 40px;
  background-color: rgba(8, 88, 247, 0.06);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.goSearchBox .fiSearch {
  color: #5e5d72;
  font-size: 22px !important;
  margin-left: 10px;
}
.goSearchBox:hover .fiSearch,
.goSearchBox input[type="search"]:focus .fiSearch {
  color: #0858f7 !important;
}
.goSearchBox input {
  width: 100%;
  height: 100%;
  padding: 0 12px !important;
  color: #5e5d72;
  background: none;
  border: none;
  outline: none;
  outline-offset: 0;
  box-shadow: none;
  font-size: 15px;
  font-weight: 500;
}
.goSearchBox input:focus {
  outline-offset: 0;
  font-size: 15px;
  font-weight: 500;
  color: #5e5d72;
  box-shadow: none;
  background: transparent;
}
.goSearchBox input::placeholder {
  color: #5e5d72;
  font-size: 15px;
  font-weight: 500;
}

/* Header Right Side  */
.rounded-circle img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1.5px solid #0858f7;
  padding: 1.5px;
  margin-right: 10px;
}
.myAcc h4 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600 !important;
  text-transform: capitalize;
  color: #403e57;
  margin-bottom: 0px !important;
  letter-spacing: 0px;
}
.myAcc span {
  font-size: 12px;
  font-weight: 500;
  color: #5e5d72;
  padding: 4px 0px 0px 0px !important;
}
.headerToggle {
  margin-top: -4px;
}

.menu-icon svg {
  font-size: 22px;
  margin: 18px !important;
}

.main .sidebarWrapper {
  width: 16%;
  background: #fff;
  top: 70px;
  left: 0;
  transition: all ease-in-out;
  position: fixed;
}
.sidebarWrapper .sidebar {
  width: 100%;
  height: 100vh;
  max-height: calc(100%-70px);
  overflow-x: hidden;
  overflow-y: scroll;
}
.main .sidebarWrapper .sidebar::-webkit-scrollbar {
  width: 3px;
}
.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb {
  background: transparent !important;
}
.main .sidebarWrapper:hover .sidebar::-webkit-scrollbar-thumb {
  background: #0858f7 !important;
}
.main .sidebarWrapper ul {
  margin-bottom: 0px;
  padding: 0;
}
.main .sidebarWrapper ul li {
  list-style: none;
  margin: 0 12px 4px 12px;
}
.main .sidebarWrapper ul li:hover {
  background: #f5f5f5;
  border-radius: 8px;
}
.main .sidebarWrapper ul li button {
  color: #5e5d72;
  text-align: left;
  justify-content: left;
  border-radius: 0;
  padding: 6px 8px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500 !important;
  text-transform: capitalize;
  letter-spacing: 0px;
}
.main .sidebarWrapper ul li button .icon {
  color: #5e5d72;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 22px;
  margin-right: 12px;
}
.main .sidebarWrapper ul li button .arrow {
  margin-left: auto;
  font-size: 20px;
  color: #5e5d72;
}
